:root{
    --default_color:#662D91;
    --blue_color:#CBB2ED;
}

.head-wrapper{
    width: 100%;
}
.head-container{
    border-bottom: 0.8rem var(--default_color) solid;
}
@media only screen and (max-width:739px){
    .head-container{
        margin:0 2rem;
    }
}
.brand-wrapper{
    width: 100%;
    height: 10rem;
    margin-left: 2rem;
}
.brand-link-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 2.6rem;
    font-weight: 700;
    transform: rotate(-4deg);
    color:black;
    text-decoration: none;
}
.brand-image{
    width: 4rem;
    height: 4rem;
}
.search-wrapper{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-container{
    width: 70%;
    height: 4rem;
    display: flex;
    align-items: center;
    background-color: var(--blue_color);
    border-radius: 1.5rem;
    position: relative;
}

.search_cardContainer{
    position: absolute;
    top:130%;
    left:0;
    right:0;
    box-shadow: 0 0 1rem 0.2rem black;
    z-index: 21;
    background-color: white;
    border-radius: 3rem;
    padding:1rem 0;
    overflow: hidden;
}

.search-bar{
    width: 85%;
    height: 90%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    padding-left: 1.4rem;
    outline: none;
}
.search-icon{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    color:white;
}
.search-icon:active{
    transform: scale(1.3);
}
.favorite-wrapper{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    color:var(--default_color);
    position: relative;
}
.favorite-wrapper-container {
    cursor: pointer;
}
@media only screen and (max-width:739px){
    .brand-link-wrapper{
        justify-content: center;
    }
    .search-wrapper,
    .favorite-wrapper,
    .brand-wrapper{
        height: 7rem;
    }
}
.favorite-wrapper-container{
    position: relative;
}
.favorite-wrapper-container::after{
    position: absolute;
    top:100%;
    content:"";
    left:0;
    right:0;
    height: 2rem;
    background-color: transparent;
}
.favorite-detail_container{
    position: absolute;
    top:130%;
    right: 0;
    width: 25rem;
    background-color: white;
    box-shadow: 0 0 0.5rem 0.2rem black;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 2rem;
    z-index: 20;
    overflow: hidden;
    display: none;
    animation: favoriteAppear 1s ease forwards;
}

.favorite-wrapper-container:hover .favorite-detail_container{
    display: flex;
}

@keyframes favoriteAppear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.favorite-detail_container-image{
    width: 100%;
    position: relative;
}
.favorite-detail_image{
    width: 100%;
    height: 20rem;
}
.favorite-detail_empty{
    position: absolute;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:grey;
    padding-top: 2rem;
    font-weight: 800;
}
.searchCard_container{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    padding:1rem 2rem;
    border-bottom: 0.1rem solid rgba(0,0,0, 0.5);
    cursor: pointer;
}
.searchCard_container > img{
    width: 17%;
    height: 100%;
    border-radius: 2rem;
}
.searchCard-information-container{
    width: 80%;
    height: 100%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.searchCard-information-title{
    width: 100%;
    font-size: 2.5rem;
    color:rgba(0,0,0, 0.6);
    font-weight: 700;
    height: 2.4rem;
    line-height: 2.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.searchCard-information-chapter{
    width: 100%;
    font-size: 1.5rem;
    margin-top: 1rem;
    color:green;
    font-weight: 600;
}
.searchCard_container:last-child{
    border-bottom: none;
}
.favorite-detail_clearAll{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    font-size: 1.5rem;
}
.auth-user-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.7rem;
    color:#662D91;
    font-weight: 700;
}
.auth-user-detail{
    cursor: pointer;
    position: relative;
}
.auth-user-detail::after{
    position: absolute;
    content:"";
    top:100%;
    width: 20rem;
    right:0;
    height: 5rem;
}
.auth-user-detail:hover .auth-user-list-rule{
    display: block;
}
.auth-user-list-rule{
    position: absolute;
    top:100%;
    right:0;
    width: 20rem;
    list-style: none;
    padding:0;
    background-color: white;
    z-index: 20;
    border:0.1rem solid rgba(0,0,0,0.3);
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.3);
    display: none;
}
.auth-user-list-item{
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.1rem solid rgba(0,0,0, 0.5);
    font-size: 1.5rem;
    color:black;
}
.auth-user-list-item:last-child{
    border-bottom: none;
}
.auth-user-list-item:hover{
    transform: scale(1.1);
}
.footer-container{
    height: 20rem;
    border-top: 1rem solid rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}