:root{
    --default_color:#662D91;
    --blue_color:#CBB2ED;
}
.home-wrapper{
    width: 100%;
    margin-top: 4rem;
}
.home-container{
    width: 100%;
}
@media only screen and (max-width:539px){
    .home-container{
        padding:0 1rem;
    }
}
.narvar_container{
    width: 100%;
    height: 4rem;
    border-bottom: 0.4rem solid var(--default_color);
    display: flex;
    align-items: center;
    font-weight: 600;
}
.narvar_container > p{
    font-size: 1.7rem;
    padding:0 1.5rem;
}
.narvar_container > p:first-child{
    background-color: var(--default_color);
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    cursor: pointer;
}
.home_icon{
    text-decoration: none;
    color:white;
}
.narvar_container > p:nth-child(2){
    border-right: 0.3rem solid var(--default_color);
}
.narbar_top{
    width: 100%;
    height: 4rem;
    border: 0.4rem solid var(--default_color);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
    justify-content: center;
}
.line{
    width: 50%;
    margin-right: 50%;
    margin-top: 2rem;
    border-top: 0.3rem solid var(--default_color);
}
.narvar_card{
    width: 100%;
    padding:1rem 1.8rem;
    border-left: 0.3rem solid var(--default_color);
}
.slide_image{
    width: 100%;
    height: 17rem;
    object-fit: cover;
    border-radius: 0.5rem;
    border:0.3rem solid var(--default_color);
}
.swiper-button-prev{
    width: 3rem !important;
    height: 4rem !important;
    background-image: linear-gradient(90deg,var(--default_color),white);
    border-radius: 0.4rem;
}
.swiper-button-next{
    width: 3rem !important;
    height: 4rem !important;
    background-image: linear-gradient(90deg,white,var(--default_color));
    border-radius: 0.5rem;
}
.swiper-button-next::after {
    content: "" !important;
    border-top: 0.7rem solid transparent;
	border-left: 0.7rem solid white;
	border-bottom: 0.7rem solid transparent;
}
.swiper-button-prev::after{
    content: "" !important;
    border-top: 0.7rem solid transparent;
	border-right: 0.7rem solid white;
	border-bottom: 0.7rem solid transparent;
}
.new-comic-narbar{
    margin-top: 3rem;
    width: 60%;
    margin-right: 40%;
    height: 4rem;
    border-bottom: 0.3rem solid var(--default_color);
}
.new_comic-detail{
    padding:0 1rem;
    height: 100%;
    width: 11rem;
    background-color: var(--default_color);
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 1.4rem;
    border-radius: 1rem 1rem 0 0;
}
.card_container{
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
}
.narbar_top-movies{
    width: 100%;
    margin-top: 2rem;
}
.narbar_top-favor{
    width: 100%;
    margin-top: 5rem;
    height: 4rem;
    border-bottom: 0.3rem solid var(--default_color);
}
.narbar_top-favor > p{
    margin:0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8rem;
    background-color: var(--default_color);
    color:white;
    border-radius:1rem 1rem 0 0;
    font-size: 1.3rem;
}

.kinds_container{
    cursor: pointer;
    position: relative;
}
.kinds_wrapp{
    position: absolute;
    top:140%;
    left:-2rem;
    width: 40rem;
    margin-top: 0;
    background-color: white;
    z-index: 15;
    border:0.2rem solid var(--default_color);
    box-shadow: 0 0 1rem 0.2rem var(--default_color);
    list-style: none;
    padding:1rem 0;
    flex-wrap: wrap;
    display: none;
    animation: Appear ease 1s;
}
.kinds_container:hover .kinds_wrapp{
    display: flex;
}
@keyframes Appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.kinds_container::after{
    content:"";
    top:100%;
    left:0;
    right:0;
    height: 2rem;
    position: absolute;
    background-color: transparent;
}
.kinds_container_sort{
    position: relative;
    cursor: pointer;
}
.kinds_sort_wrapp{
    position: absolute;
    top:140%;
    left:-2rem;
    width: 40rem;
    margin-top: 0;
    background-color: white;
    z-index: 15;
    border:0.2rem solid var(--default_color);
    box-shadow: 0 0 1rem 0.2rem var(--default_color);
    list-style: none;
    padding:1rem 0;
    flex-wrap: wrap;
    display: none;
    animation: Appear ease 1s;
}
.kinds_container_sort:hover .kinds_sort_wrapp{
    display: flex;
}
.kinds_container_sort::after{
    content:"";
    top:100%;
    left:0;
    right:0;
    height: 2rem;
    position: absolute;
    background-color: transparent;
}
.kinds_wrapp > li,
.kinds_sort_wrapp > li{
    width: 44%;
    height: 4rem;
    margin:0 3%;
}
.kinds_item{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:black;
    transition: all ease 0.2s;
    border-bottom: 0.1rem solid var(--default_color);
}
.kinds_item:hover{
    transform: translateX(1rem);
}