.card_wrapper{
    width: 100%;
    height: 35rem;
    border-radius: 2rem;
    box-shadow: 0px 0px 120px -25px rgba(0,0,0, 0.5);
    margin-bottom: 3rem;
    overflow: hidden;
    position: relative;
    transition: all ease 0.3s;
    cursor: pointer;
}
.card_wrapper:hover{
    transform: scale(1.02);
}
@media only screen and (max-width:539px){
    .card_wrapper{
        height: 28rem;
    }
}
.card_image-detail{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_image{
    width: 100%;
    height: 100%;
}
.card_information{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.card_image-small{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-end;
    padding:0 3rem;
    background-image: linear-gradient(0,#E5E6E6,transparent);
}
.card_image_small_one{
    width: 8rem;
    height: 12rem;
    object-fit: cover;
}
.card_small_infor{
    width: calc(100% - 8rem);
    height: 12rem;
    padding-left: 2rem;
}
.card_small_name{
    width: 100%;
    margin:0;
    font-size: 3.2rem;
    font-weight: 400;
    color:black;
}
.card_small_born{
    margin:0;
    font-size: 1.3rem;
    font-weight: 400;
    color:#555;
}
.card_small_times{
    width: 100%;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.card_small_time{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
    color:#555;
    border-radius: 0.5rem;
    border:0.1rem solid rgba(0,0,0,0.05);
    font-size: 1.4rem;
    height: 3rem;
}
.card_small_kinds{
    color:#959595;
    font-size: 1.4rem;
    margin-left: 1rem;
}

.card_image-content{
    width: 100%;
    height: 35%;
    background-color: #E5E6E6;
    box-shadow: 0 -9rem 4rem #E5E6E6;
    padding:2rem 2rem 0 2rem;
    overflow: hidden;
}
.card_image_content-detail > h1{
    margin:0;
    color:#545454;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    height: 3.8rem;
    line-height: 1.9rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card_image_content-icon{
    width: 100%;
    height: calc(100% - 3.8rem);
    align-items: center;
    display: flex;
    justify-content: center;
}
.icon_plus{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.2rem solid #555;
    margin-left: 1rem;
    font-size: 2rem;
}
.icon_heart{
    margin-left: 1rem;
    font-size: 2.3rem;
    color:#555;
}
.icon_heart-red{
    color:red;
}
.icon_heart:hover,
.icon_plus:hover{
    transform: scale(1.1);
}
.topCard_wrapp{
    width: 100%;
    height: 12rem;
    box-shadow: 0px 0px 0.5rem 0.1rem rgba(0,0,0, 0.5);
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    transition: all ease 0.2s;
    margin-bottom: 2rem;
}
.topCard_wrapp:hover{
    transform: scale(1.05);
}
.topCard_detail{
    flex:4;
    background-color: #E5E6E6;
    box-shadow: 0.2rem 0 2rem 1rem #E5E6E6;
    z-index:10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding:1rem 0;
}
@media only screen and (max-width:539px){
    .topCard_detail{
        flex:5;
    }
}
.topCard_read_like{
    width: 100%;
    display: flex;
    justify-content: center;
}
.topCard_like,
.topCard_read{
    font-size: 1.2rem;
}
.topCard_like{
    margin-left: 1rem;
}
.topCard_title{
    font-size: 1.8rem;
    font-weight: 450;
    font-family: 'Charis SIL', serif;
}


.topCard_image{
    flex:5;
    position: relative;
}
.topCard_linear{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-image: linear-gradient(90deg,#E5E6E6,transparent);
}
.topCard_img{
    width: 100%;
    object-fit: cover;
    z-index: 4;
}
.categary-list-item-star{
    margin-top: 1rem;
    width: 9rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    overflow: hidden;
    color:#EBC328;
    position: relative;
}
.categary-list-item-star-full{
    position: absolute;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    overflow: hidden;
    color:#EBC328;
}