.createMovie_container{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.createMovie_wrap{
    width: 100rem;
    background-color: white;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.5);
    border-radius: 2rem;
    padding:1rem;
    position: relative;
    max-width: 100%;
    display: flex;
}
.createMovie_times{
    position: absolute;
    top:2rem;
    right:2rem;
    font-size: 1.7rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border:0.1rem solid rgba(0,0,0,0.5);
    cursor: pointer;
}
.createMovie_image-container{
    flex:1;
    padding:0 1rem;
}
.createMovie_detail-container{
    flex:3;
}
.createMovie_image-items{
    width: 100%;
    height: 20rem;
    margin:1rem 0;
    border:0.1rem solid rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.createMovie_image-detail{
    font-size: 5rem;
}
.createMovie_detail-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.createMovie_detail-getTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.createMovie_detail-getTitle > label{
    min-width: 15%;
}
.createMovie_detail-getTitle > input{
    width: 85%;
    height: 6rem;
    outline: none;
    padding:0 1rem;
    font-size: 1.5rem;
    border-radius: 4rem;
}
.createMovie_detail-getContent{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.createMovie_detail-getContent > label{
    min-width: 15%;
}
.createMovie_detail-getContent > textarea{
    width: 85%;
    resize: vertical;
    outline: none;
    padding:1rem;
    font-size: 1.6rem;
    min-height: 15rem;
}
.createMovie_detail-getStatus{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}
.createMovie_detail-getStatus > input{
    width: 2rem;
    height: 2rem;
}
.createMovie_detail-button{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 5rem;
}
.createMovie_detail-button > button{
    width: 20rem;
    height: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 1.8rem;
    border-radius: 2rem;
}
.createButton{
    background-color: green;
    color:white;
}
.closeButton{
    background-color: rgba(0,0,0,0.3);
    color:White;
}
.createMovie_detail-button > button:hover{
    transform: scale(1.1);
}
.image_create-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
.image_create-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.createKind_container{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color: rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createKind_wrap{
    width: 60rem;
    max-width: 100%;
    min-height: 10rem;
    background-color: white;
    box-shadow: 0 0 1rem 0.5rem rgba(0,0,0,0.3);
    border-radius: 2rem;
    padding:1rem;
    position: relative;
}
.createKind_times{
    position: absolute;
    top:2rem;
    right:2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border:0.1rem solid rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    cursor: pointer;
}
.createKind_title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
}

.createKind_default-kinds{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.createKind_default-items{
    min-width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    cursor: pointer;
    border:0.2rem solid rgba(0,0,0,0.3);
    border-radius: 3rem;
    margin-right: 2rem;
    padding:0 1rem;
    position: relative;
}
.createKind_default-item-delete{
    position: absolute;
    top:0.5rem;
    bottom:0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 0 1rem 0.5rem black;
    background-color: white;
    padding:0 1rem;
    border-radius: 50%;
    z-index: 10;
    display: none;
    animation: deleteAnimation 0.6s ease;
}
.createKind_default-items:hover .createKind_default-item-delete{
    display: flex;
}
@keyframes deleteAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.createKind_confirm{
    width: 100%;
    margin-top: 2rem;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.createKind_confirm-button > button{
    width: 6rem;
    height: 3rem;
    margin-left: 1rem;
    cursor: pointer;
}
.createKind_default-createContainer{
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.createKind_default-createInput{
    width: 80%;
    height: 5rem;
    outline: none;
    padding-left: 1rem;
    font-size: 1.5rem;
    border-radius: 3rem;
}
.createKind_button{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.createKind_button > button{
    width: 15rem;
    height: 5rem;
    margin-right: 2rem;
    border-radius: 4rem;
    font-size: 1.6rem;
    cursor: pointer;
}
.createButton:hover,
.closeButton:hover{
    transform: scale(1.1);
}
.createMovie_detail-kinds{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    justify-content: center;
}
.createMovie_detail-kind-items{
    margin-right: 2rem;
    margin-bottom: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}
.createMovie_detail-kind-items > input{
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
}
.login_wrap{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}